<section class="section experience" id="gallery"> 
  <div class="container"> 
    <div class="experience-wrapper"> 
      <h2 class="experience-title">Coffee Moments</h2> 
      <p class="experience-text"> 
        Experience the warmth and community of CoffeeJoy. 
      </p> 
    </div> 
 
    <ul class="experience-list-desktop"> 
      <li class="experience-col"> 
        <img 
          src="/img/cart1.jpg"
          srcset="/img/cart1.jpg 1x, /img/cart1@2x.jpg 2x"  
          alt="Cup of cappuccino" 
          class="experience-img" 
        /> 
        <img 
          src="/img/cart2.jpg"
          srcset="/img/cart2.jpg 1x, /img/cart2@2x.jpg 2x"  
          alt="Coffee in hands" 
          class="experience-img" 
        /> 
      </li> 
 
      <li class="experience-col middle"> 
        <img 
          src="/img/cart3.jpg"
          srcset="/img/cart3.jpg 1x, /img/cart3@2x.jpg 2x"  
          alt="Coffee and croissant" 
          class="experience-img " 
        /> 
        <img 
          src="/img/cart4.jpg"
          srcset="/img/cart4.jpg 1x, /img/cart4@2x.jpg 2x" 
          alt="Coffee shop" 
          class="experience-img " 
        /> 
        <img 
          src="/img/cart5.jpg"
          srcset="/img/cart5.jpg 1x, /img/cart5@2x.jpg 2x" 
          alt="Coffee in a park" 
          class="experience-img" 
        /> 
      </li> 
 
      <li class="experience-col"> 
        <img 
          src="/img/cart6.jpg"
          srcset="/img/cart6.jpg 1x, /img/cart6@2x.jpg 2x" 
          alt="Coffee and book" 
          class="experience-img" 
        /> 
        <img 
          src="/img/cart7.jpg"
          srcset="/img/cart7.jpg 1x, /img/cart7@2x.jpg 2x" 
          alt="Coffee on the table" 
          class="experience-img" 
        /> 
      </li> 
    </ul> 
 
    <ul class="experience-list"> 
            <li class="experience-item"> 
 
               <img 
                class="experience-img" 
                srcset="/img/cart1.jpg 1x, /img/cart1@2x.jpg 2x" 
                src="/img/cart1.jpg" 
                alt="Cup of cappuccino" 
                width="288" 
                height="288" 
                loading="lazy" 
              /> 
            </li> 
             <li class="experience-item"> 
               <img 
                class="experience-img" 
                srcset="/img/cart2.jpg 1x, /img/cart2@2x.jpg 2x" 
                src="/img/cart2.jpg" 
                alt="Coffee and croissant" 
                width="288" 
                height="288" 
                loading="lazy" 
              /> 
            </li> 
             <li class="experience-item"> 
               <img 
                class="experience-img" 
                srcset="/img/cart3.jpg 1x, /img/cart3@2x.jpg 2x" 
                src="/img/cart3.jpg" 
                alt="Coffee and book" 
                width="288" 
                height="162" 
                loading="lazy" 
              /> 
            </li> 
             <li class="experience-item"> 
               <img 
                class="experience-img" 
                srcset="/img/cart4.jpg 1x, /img/cart4@2x.jpg 2x" 
                src="/img/cart4.jpg" 
                alt="Coffee in hands" 
                width="288" 
                height="162" 
                loading="lazy" 
              /> 
            </li> 
            <li class="experience-item"> 
               <img 
                class="experience-img" 
                srcset="/img/cart5.jpg 1x, /img/cart5@2x.jpg 2x" 
                src="/img/cart5.jpg" 
                alt="Coffee shop" 
                width="288" 
                height="288" 
                loading="lazy" 
              /> 
            </li> 
             <li class="experience-item"> 
               <img 
                class="experience-img" 
                srcset="/img/cart6.jpg 1x, /img/cart6@2x.jpg 2x" 
                src="/img/cart6.jpg" 
                alt="Coffee on the table" 
                width="288" 
                height="288" 
                loading="lazy" 
              /> 
            </li> 
            <li class="experience-item experience-item-huge"> 
            <picture> 
               <source 
                    media="(min-width: 768px)" 
                    srcset=" 
                      /img/cart7-tablet.jpg    1x, 
                      /img/cart7@2x-tablet.jpg 2x 
                    " 
                  /> 
                  <source 
                    media="(max-width: 767px)"
srcset=" 
                      /img/cart7.jpg 1x, /img/cart7@2x.jpg 2x 
                    " 
                  /> 
                  <img 
                class="experience-img" 
                srcset="/img/cart7.jpg 1x, /img/cart7@2x.jpg 2x" 
                src="/img/cart7.jpg" 
                alt="Coffee in a park" 
                width="288" 
                height="391" 
                loading="lazy" 
              /> 
             
            </li> 
    </ul> 
  </div> 
</section>