<footer class="footer container">
  <div class="footer-container">
    <div class="footer-branding">
      <a href="./index.html">
        <img src="/img/company-logo.svg" alt="логотип" class="footer-logo" />
      </a>
      <div class="social-media">
        <ul class="social-media-list">
          <li class="icon-footer">
            <a href="https://www.facebook.com/">
              <svg width="24" height="24" class="icon-footer">
                <use href="/img/icons.svg#icon-Facebook"></use>
              </svg>
            </a>
          </li>
          <li class="icon-footer">
            <a href="https://www.instagram.com/">
              <svg width="24" height="24" class="icon-footer">
                <use href="/img/icons.svg#icon-Instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-footer">
            <a href="https://x.com/">
              <svg width="24" height="24" class="icon-footer">
                <use href="/img/icons.svg#icon-X"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="footer-links">
      <ul class="footer-links-list">
        <li class="footer-link-item">
          <p><a href="#hero">About us</a></p>
        </li>
        <li class="footer-link-item">
          <p><a href="#benefits">Benefits</a></p>
        </li>
        <li class="footer-link-item">
          <p><a href="#gallery">Gallery</a></p>
        </li>
        <li class="footer-link-item">
          <p><a href="#testimonials">Testimonial</a></p>
        </li>
        <li class="footer-link-item">
          <p><a href="#location">Location</a></p>
        </li>
      </ul>
    </nav>
  </div>
  <p class="footer-rights">© 2025 CoffeeJoy. All rights reserved.</p>
</footer>
