<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html"
        ><img
          src="/img/company-logo.svg"
          alt="Coffee Joy Logo"
          width="84"
          height="36"
      /></a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#hero">About us</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#benefits">Benefits</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#gallery">Gallery</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#testimonials">Testimonial</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>
    <button class="burger-btn js-open-menu" aria-expanded="false"
          aria-controls="navbar-list" type="button" aria-label="Open menu button" data-mobile-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
