<div class="navbar" data-mobile>
  <div class="container navbar-container">
    <div class="navbar-wrapper">
      <a href="./index.html"
        ><img
          class="navbar-logo"
          src="/img/company-logo.svg"
          alt="Coffee Joy Logo"
      /></a>

      <button class="navbar-btn" type="button" data-mobile-close>
        <svg class="navbar-btn-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-item-link" href="#about">About us</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-link" href="#catalog">Benefits</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-link" href="#sale">Gallery</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-link" href="#reviews">Testimonial</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-item-link" href="#contacts">Location</a>
      </li>
    </ul>
  </div>
</div>
