<section class="section">
  <div class="container" id="quality">
    <div class="quality">
      <div class="quality-header">
        <p class="quality-subtitle">Quality</p>
        <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
        <p class="quality-text">
          At CoffeeJoy, we pride ourselves on delivering the freshest roasted
          coffee, crafted with care by our skilled baristas. Our flexible
          subscription plans ensure that your coffee experience is tailored to
          your needs.
        </p>
      </div>

      <ul class="quality-list">
        <li class="quality-item">
          <img
            srcset="/img/quality01.jpg 1x, /img/quality01@2x.jpg 2x"
            src="/img/quality01.jpg"
            alt="coffee cup"
            class="quality-img"
            width="288"
            height="954"
            loading="lazy"
          />

          <h3 class="quality-item-title">
            Fresh-Roasted Coffee for Every Taste
          </h3>
          <p class="quality-item-text">
            Savor the rich flavors of our expertly sourced beans.
          </p>
        </li>

        <li class="quality-item">
          <img
            srcset="/img/quality02.jpg 1x, /img/quality02@2x.jpg 2x"
            src="/img/quality02.jpg"
            alt="barista"
            class="quality-img"
            width="288"
            height="954"
            loading="lazy"
          />

          <h3 class="quality-item-title">
            Expert Baristas Crafting Your Perfect Brew
          </h3>
          <p class="quality-item-text">
            Our baristas are passionate about coffee and skilled in their craft.
          </p>
        </li>

        <li class="quality-item quality-item-wide">
          <img
            srcset="/img/quality03.jpg 1x, /img/quality03@2x.jpg 2x"
            src="/img/quality03.jpg"
            alt="coffee-shop"
            class="quality-img"
            width="288"
            height="954"
            loading="lazy"
          />

          <h3 class="quality-item-title quality-item-title-wide">
            Cozy Atmosphere
          </h3>
          <p class="quality-item-text quality-item-text-wide">
            We don't just serve coffee — we create a warm and welcoming space
            where every cup feels like home.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
