<section class="section subscribe">
    <div class="container subscribe-flex">
        <div class="collums collums-text">
        <h2 class="subscribe-h2">Join Our Coffee Community</h2>
        <p class="subscribe-afterh2">Experience the joy of coffee delivered right to your door. Sign up today!</p>
        
       <form class="subscribe-form" id="formEmail">
        
        <label for="userEmail"></label>
        <div class="subscribe-wriper">
        <input type="email" name="user-email" id="userEmail" placeholder="Your Email Here" class="subscribe-input" required>
        <span class="subscribe-text-eror" id="erorEmail">Use correct e-mail</span>
        </div>
        <button type="submit" class="subscribe-btn">Subscribe <svg class="subscribe-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-chevrons-right"></use>
        </svg></button>
        </form>
        <p class="subscribe-afterbtn">By clicking Get Started, you agree to our Terms and Conditions.</p>
        </div>
        <div class="collums">
  <picture>
  <source 
    srcset="/img/subsribe.jpg 1x, /img/subsribe@2x.jpg 2x" 
    media="(min-width: 1440px)">
  <source 
    srcset="/img/subsribe.jpg 1x, /img/subsribe@2x.jpg 2x" 
    media="(min-width: 768px)">
  <img
    class="subscribe-img"
    src="/img/subscribe-mobile.jpg"
    srcset="/img/subscribe-mobile.jpg 1x, /img/subscribe-mobile@2x.jpg 2x"
    alt="subscribe-photo"
    loading="lazy" 
  >
        </picture>
        </div>
    </div>

</section>