<div class="modal">
    <div class="overlay">
        <button class="modal-close-btn"><svg class="modal-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
        </svg>
        </button>
        <h2>Welcome to the world of CoffeeJoy!</h2>
        <p>Fresh brews, special offers, and cozy updates are coming your way.</p>
        <img src="/img/success.jpg" srcset="/img/success.jpg 1x,
        /img/success@2x.jpg 2x" alt="Coffe and lists" width="644" height="374" loading="lazy" >
        <button class="success-btn-close">Close</button>
    </div>
</div>