<section class="section" id="testimonials">
  <div class="container container-testimonials">
    <!-- Section title -->
    <div class="testimonials-title-wrap">
      <h2 class="testimonials-title">What our visitors say</h2>
    </div>

    <!-- Testimonials list -->
    <div class="testimonials-card-wrap">
      <ul class="testimonials-list">
        <!-- Card 1 -->
        <li class="testimonials-card">
          <!-- Stars list -->
          <ul class="testimonials-card-stars">
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star-outline"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>

          <!-- Review text -->
          <p class="testimonials-card-text">
            “Every cup feels like a warm hug! I’m addicted to their seasonal
            flavors!”
          </p>

          <!-- Author -->
          <p class="testimonials-card-author">Name Surname</p>
        </li>

        <!-- Card 2 -->
        <li class="testimonials-card">
          <!-- Stars list -->
          <ul class="testimonials-card-stars">
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star-outline"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>

          <!-- Review text -->
          <p class="testimonials-card-text">
            "CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly."
          </p>

          <!-- Author -->
          <p class="testimonials-card-author">Alice Johnson</p>
        </li>

        <!-- Card 3 -->
        <li class="testimonials-card">
          <!-- Stars list -->
          <ul class="testimonials-card-stars">
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>

          <!-- Review text -->
          <p class="testimonials-card-text">
            "I love the variety of blends offered at CoffeeJoy. Every visit
            feels like a new experience!"
          </p>

          <!-- Author -->
          <p class="testimonials-card-author">Michael Smith</p>
        </li>

        <!-- Card 4 -->
        <li class="testimonials-card">
          <!-- Stars list -->
          <ul class="testimonials-card-stars">
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star-outline"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star-outline"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>

          <!-- Review text -->
          <p class="testimonials-card-text">
            "The pastries are to die for! I can’t resist pairing them with my
            favorite latte. Highly recommend this spot!"
          </p>

          <!-- Author -->
          <p class="testimonials-card-author">Emily Davis</p>
        </li>

        <!-- Card 5 -->
        <li class="testimonials-card">
          <!-- Stars list -->
          <ul class="testimonials-card-stars">
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>

          <!-- Review text -->
          <p class="testimonials-card-text">
            "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
            here every weekend!"
          </p>

          <!-- Author -->
          <p class="testimonials-card-author">James Brown</p>
        </li>

        <!-- Card 6 -->
        <li class="testimonials-card">
          <!-- Stars list -->
          <ul class="testimonials-card-stars">
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star-outline"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star-outline"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>

          <!-- Review text -->
          <p class="testimonials-card-text">
            "The atmosphere is perfect for working or relaxing with friends.
            Their Wi-Fi is fast too!"
          </p>

          <!-- Author -->
          <p class="testimonials-card-author">Sarah Wilson</p>
        </li>

        <!-- Card 7 -->
        <li class="testimonials-card">
          <!-- Stars list -->
          <ul class="testimonials-card-stars">
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star-outline"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>

          <!-- Review text -->
          <p class="testimonials-card-text">
            "I’m addicted to their seasonal flavors! Each one is crafted with
            such care and creativity."
          </p>

          <!-- Author -->
          <p class="testimonials-card-author">Chris Lee</p>
        </li>

        <!-- Card 8 -->
        <li class="testimonials-card">
          <!-- Stars list -->
          <ul class="testimonials-card-stars">
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg class="star" width="20" height="19" aria-label="filled star">
                <use href="/img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li>
              <svg
                class="star-outline"
                width="20"
                height="19"
                aria-label="outlined star"
              >
                <use href="/img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>

          <!-- Review text -->
          <p class="testimonials-card-text">
            "I appreciate how they source their coffee beans sustainably. It's
            great to support such an ethical business!"
          </p>

          <!-- Author -->
          <p class="testimonials-card-author">Patricia Taylor</p>
        </li>
      </ul>
    </div>
  </div>
</section>
