<section class="container">
  <div class="welcome-wrapper">
    <div class="welcome-tablet">
  <div class="welcome-container">
    <p class="welcome-first-text">Welcome</p>
    <h2 class="welcome-title">Our Journey: Passion for Quality Coffee</h2>
  </div>
  <div class="welcome-inside">
    <p class="welcome-text">
      At CoffeeJoy, we believe that every cup tells a story. Our mission is to
      bring you the finest coffee experiences, crafted with care and dedication.
      We are committed to sourcing high-quality beans and roasting them to
      perfection, ensuring each sip is a delight.
    </p>
    <a class="welcome-button" href="#location">
      Find location
      <svg class="welcome-button-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-map-pin"></use>
      </svg>
    </a>
  </div>
  </div>
  <img
    class="welcome-photo"
    srcset="/img/welcome.jpg 1x, /img/welcome@2x.jpg 2x"
    src="/img/welcome.jpg 1x"
    alt="welcome"
    
  />
  </div>
</section>
