.experience-wrapper {
  max-width: 288px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .experience-wrapper {
    max-width: 768px;
  }
}
.experience-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 24px;
}

.experience-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 32px;
}
.experience-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 288px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .experience-list {
    gap: 32px;
    max-width: 704px;
  }
}

.experience-img {
  width: 100%;
  height: auto;
  border-radius: 32px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .experience-item {
    flex: 0 1 calc((100% - 32px * 1) / 2);
  }
  .experience-img {
    min-width: 336px;
  }
  .experience-item-huge {
    flex: 0 0 100%;
    width: 100%;
  }

  /* .experience-item-huge .experience-img {
    min-width: 704px;
  }*/
}

@media only screen and (min-width: 1440px) {
  .experience-list {
    align-items: flex-start;

    max-width: 1440px;
  }
  .experience-item {
    flex: 0 1 calc((100% - 32px * 2) / 3);
  }

  .experience-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  */ .experience-item:nth-child(1) {
    order: 1;
  }
  .experience-item:nth-child(2) {
    order: 4;
  }
  .experience-item:nth-child(3) {
    order: 2;
  }
  .experience-item:nth-child(4) {
    order: 5;
  }
  .experience-item:nth-child(5) {
    order: 7;
  }
  .experience-item:nth-child(6) {
    order: 3;
  }
  .experience-item:nth-child(7) {
    order: 6;
  }
}
