.footer{
    background-color:#B58869 ; 
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-container{
    background-color: #C29D84;
border: 1px solid #C29D84;
    border-radius: 40px;
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        

        padding: 32px 46px;
}

.footer-branding{
    margin-bottom: 32px;
}
.footer-logo{
display: flex;
align-items: center;
justify-content: center;
width: 196px;
height: 84px;

}

.footer-logo-link {
    display: block;
    margin-bottom: 40px;
}

.footer-logo-svg{
    width: 100%;
    height: 100%;
}


.social-media-list{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    
}

.footer-links-list{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
 
}

.footer-link-item{
    font-family: Quicksand, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #0B0803;
        transition: transform 500ms ease-in-out;
}
.icon-footer:hover,
.icon-footer:focus{
    transform: scale(1.2);
    
}
.icon-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50px;

    }


.footer-rights{
    font-family: Quicksand, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #0B0803;
        margin-top: 32px;
        display: flex;
        
        justify-content: center;
}

@media screen and (min-width: 768px) {
    
   
    .footer-logo{
        width: 84px;
        height: 36px;
        margin-bottom: 0;
    }
    .footer-container{
        padding-top: 32px;
        padding-bottom: 32px;

        
    }
.footer-branding{
    display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        margin-bottom: 32px;
}
.footer-logo-link{
    margin-bottom: 0;
}
    .footer-links-list{
        display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 32px;
    }

        .social-media-list {
           margin-bottom: 0; 
        }

                .icon-footer {
                    width: 24px;
                    height: 24px;
                }
}

@media screen and (min-width: 1440px) {
    .footer{
        padding-top: 24px;
        padding-bottom: 24px;
    }
        .footer-container {
            padding: 38px 48px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

    .footer-branding{
        display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            gap: 40px;
            margin-bottom: 0;
    }

        .footer-logo-link {
            margin-bottom: 0;
        }
.social-media-list{
    margin-bottom: 0;
}
.footer-logo{
    margin-bottom: 0;
}

.icon-footer {
    width: 24px;
    height: 24px;
}

}