@media only screen and (min-width: 1440px) {
  .location-container {
    /* position: relative; */
    display: flex;
    gap: 24px;
  }
}

.location-section-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.location-section-title {
  font-family: 'Aboreto', system-ui;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media only screen and (min-width: 1440px) {
  .location-section-title {
    font-size: 48px;
  }
}

.location-section-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.location-address {
  margin-bottom: 32px;
}
.location-wraper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .location-wraper {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .location-wraper {
    flex-direction: column;
    min-width: 419px;
  }
}
@media only screen and (min-width: 768px) {
  .location-item {
    width: calc((100% - 40px * 2) / 3);
  }
}
@media only screen and (min-width: 1440px) {
  .location-item {
    min-width: 419px;
  }
}

.location-item-icon {
  fill: currentColor;
  vertical-align: middle;
  margin-bottom: 16px;
}
.location-item-text {
  font-family: 'Aboreto', system-ui;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.location-item-text-address {
  margin-bottom: 16px;
}
.location-item-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location-item-link:hover,
.location-item-link:focus {
  color: #7f1c1c;
}
.location-link-address {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.location-link-address:hover,
.location-link-address:focus {
  color: #7f1c1c;
  fill: #7f1c1c;
}
.location-link-address-icon {
  margin-left: 8px;
}
.location-wrapper-map {
  position: relative;
  border-radius: 40px;
  max-width: 343px;
  height: 307px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .location-wrapper-map {
    max-width: 100%;
    height: 377px;
  }
}

@media only screen and (min-width: 1440px) {
  .location-wrapper-map {
    height: 697px;
    width: 869px;
  }
}

.location-wrapper-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
