.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;

   background: rgba(0, 0, 0, 0.25);
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;

}

.modal.is-open{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.modal-icon{
    fill: #0b0803;
}
.overlay{
    position: relative;
    margin: auto;
    border-radius: 40px;
    padding: 64px 16px;
    width: 288px;
    height: 631px;
    background: #e0cbb4;
    display: flex;
    
    align-items:center;
    flex-direction: column;
    gap: 0;


}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0cbb4;
    
    cursor: pointer;  
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active{
    background: #e0cbb4;
    box-shadow: none;
    color: #0b0803;
}

/* in menu */

.overlay h2{
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0b0803;
    margin-bottom: 16px;
}
.overlay p{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #0b0803;
    margin-bottom: 24px;
}
.overlay img{
    border-radius: 24px;
    width: 100%;
    object-fit: cover;
    height: 200px;
    margin-bottom: 24px;
}
.success-btn-close{
    border-radius: 100px;
    padding: 10px 24px;
    width: 100%;
    height: 44px;
    
    font-weight: 500;
    font-size: 16px;
    
    color: #fff;

    box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #6f4e37;
}
@media screen and (min-width: 768px) {
.overlay h2{
    font-size: 36px;
}
.overlay p{
    margin-bottom: 48px;
}
.overlay img{
    border-radius: 40px;
    height: 374px;
    margin-bottom: 48px;
    max-width: 644px;
}
.overlay{
    width: 100%;
    max-width: 704px;
    height: 771px;
    padding: 64px 30px;
}
.success-btn-close{
    width: 340px;
}
}
@media only screen and (min-width: 1440px) {
    .overlay h2{
    font-size: 48px;
}
.success-btn-close{
    width: 274px;
}
.modal-close-btn{
    right: 73px;
}
.overlay{
    height: 801px;
    padding: 64px;
    max-width: 866px;
}
}