/* === TITLE === */
.testimonials-title-wrap {
  /* margin-top: 64px; */
  margin-bottom: 24px;
  min-width: 288px;
  min-height: 86px;
}

.testimonials-title {
  font-family: 'Aboreto', cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #0b0803;
}

/* === CARD LIST === */
.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  color: #0b0803;
}

/* === CARD === */
.testimonials-card {
  max-width: 340px;
  min-height: 235px;
  background-color: #c29d84;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 32px;
  padding: 32px 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.28);
}

/* === STARS === */
.testimonials-card-stars {
  display: flex;
  line-height: 0;
  gap: 4px;
}

.star {
  stroke: #0b0803;
  stroke-width: 1px;
}

.star-outline {
  fill: none;
  stroke: #0b0803;
  stroke-width: 1px;
}

/* === TEXT & AUTHOR === */
.testimonials-card-text {
  font-size: 18px;
  line-height: 150%;
}

.testimonials-card-author {
  font-weight: 600;
  font-size: 16px;
}

/* === MEDIA QUERIES === */

/* TABLET (>=768px) */
@media screen and (min-width: 768px) {
  .testimonials-title-wrap {
    min-width: 498px;
    min-height: 43px;
  }

  .testimonials-card {
    flex: 1 1 calc((100% - 24px) / 2);
    max-width: 340px;
    min-height: 253.5px;
    gap: 0;
  }
}

/* DESKTOP (>=1440px) */
@media screen and (min-width: 1440px) {
  .testimonials-title {
    font-size: 48px;
    max-width: 416px;
    min-height: 116px;
  }

  .testimonials-card {
    flex: 1 1 calc((100% - 72px) / 4);
    max-width: 310px;
    min-height: 304px;
  }
}
